@* @page *@
@* @model IndexModel *@
@{

}

<div class="container">
    <!-- <a href="/TrailMarkers/Index"><p>All Trailmarkers</p></a> -->
    <div class="row">
        <div class="col-md-5">
            <div class="d-flex justify-content-center">
                <a href="/TrailMarkers/Create"><button id="createAdventureBtn"></button></a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-center">
                <a href="/TrailMarkers/Index"><button id="searchAdventureBtn"></button></a>
            </div>
        </div>
    <div>

</div>
<!-- <div id="viewDiv">
    
</div>

@* Render ArcGIS in footer because it won't play nice with BootStrap & jQuery otherwise *@
@section Scripts
{
    <style>
          html,
          body,
          #viewDiv {
            padding: 0;
            margin: auto;
            margin-top: auto;
            margin-bottom: auto;
            height: 58vh;
            width: 69vw;
          }
        </style>

    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css"/>
    <script src="https://js.arcgis.com/4.18/"></script>
    
    <script>
        require(["esri/Map", "esri/views/MapView"], function (Map, MapView) {
            var map = new Map({
                basemap: "topo-vector"
            });
            var view = new MapView({
                container: "viewDiv", // Reference to the view div created in step 5
                map: map, // Reference to the map object created before the view
                zoom: 15, // Sets zoom level based on level of detail (LOD)
                center: [-122.6784, 45.5152] // Sets center point of view using longitude,latitude
            });
        });
    </script> 
} -->