@* @page *@
@* @model IndexModel *@
@{

}
<div id="viewDiv"></div>

  @section Scripts
  {
  
    <style>
        html,
        body,
        #viewDiv {
          padding: 0;
            margin: 0;
            height: 88vh;
            width: 99vw;
        }
      </style>
      
    <link rel="stylesheet" href="https://js.arcgis.com/4.24/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.24/"></script>

    <script>
      require(["esri/config","esri/Map", "esri/views/MapView"], function (esriConfig, Map, MapView) {

        esriConfig.apiKey = "AAPK7691fadea68d4c688c09d108d1cd1d7cSxgmrGZq1iMecdeWEN29tO3QCLIzXUFXyg4PLvxYtshTAFhyxYK6D4d2m-vnNbrK";

        const map = new Map({
          basemap: "topo-vector" // Basemap layer service
        });

        const view = new MapView({
          map: map,
          center: [-118.805, 34.027], // Longitude, latitude
          zoom: 13, // Zoom level
          container: "viewDiv" // Div element
        });

      });
    </script>
  }