


<h1>Edit Trail Markers:</h1>
<div class="settings">
<form action="/TrailMarker/Details/@(Model.TrailMarkerId)" method="post">
  <label for="name">Trail Marker Name</label>
  <input id="name" name="name" type="text" value="@(Model.Name)">

  <label for="longitude">Trail Marker Longitude</label>
  <input id="longitude" name="longitude" type="number" value="@(Model.Longitude)">
  
  <label for="latitude">Trail Marker Latitude</label>
  <input id="latitude" name="latitude" type="number" value="@(Model.Latitude)">

  <fieldset>Is it a trailhead or landmark <select id="markerType" name="markerType">
  <option value="0">Landmark</option>
  <option selected="selected" value="1">Trailhead</option>
  </select>
  </fieldset>

  <input id="description" name="description" type="text" value="@(Model.Description)">

  <input class = "btn btn-secondary" type="submit">Go!</button>
</form>
</div>
<a href="/TrailMarkers/Details/@(Model.TrailMarkerId)"><p>Return to Details</p></a>