@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.navbar { 
  background-color: #247B97 !important; 
  opacity: .8;
  color: aliceblue;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  /* min-width: 100%; */
  background: url(https://images.unsplash.com/photo-1497384401032-2182d2687715?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
  /* margin: auto; */
  background: url(https://images.unsplash.com/photo-1497384401032-2182d2687715?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  position: relative;
  height: 100%;
}

.col-md-5 {
  margin: auto;
  width: fit-content;
}

button#createAdventureBtn {
  background-image: url(../images/newCreateAdventure.png);
  background-size: cover;
  width: 15rem;
  height: 15rem;
  /* padding: auto; */
  margin: auto;
  margin-top: 35%;
}

button#searchAdventureBtn {
  background-image: url(../images/newSearchAdventure.png);
  background-size: cover;
  width: 15rem;
  height: 15rem;
  padding: auto;
  margin: auto;
  margin-top: 35%;
}


#createView, #trailMarkerIndexView, #trailMarkerDetails {
  /* margin-left: -10rem;
  margin-top: -1rem;
  margin-bottom: -3rem;
  max-height: 120%; */
  position: absolute;
  left: 0;
  /* top: 3.5rem; */
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}

#createTrailMarkerForm {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
}

.trailMarkDeetz {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: top;
  list-style-type: none;
}

.trailMarkersList {
  background-color: #fff;
  position: relative;
}

#homeTMIButton {
  background-image: url(../images/homeButton.png);
  background-size: cover;
  width: 10rem;
  height: 10rem;
  padding: auto;
  margin: auto;
  position: absolute;
  bottom: 5rem;
  left: 8rem;
}

p.list-group-item a {
  color:#247A97;
}

p.btn-info a {
  color: #fff;
}

p.btn-info a:hover {
  text-decoration: none;
}

.col-md-4 {
  margin-right: 0;
}

.col-md-8 {
  margin: 0;
}

img {
  width: 50%;
  height: auto;
}

input.btn-secondary {
  margin: auto;
  margin-top: .5rem;
}




.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* form formatting */
div.settings {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
}
div.settings label { 
text-align:right;
}

div.settings label:after { 
content: ":"; 
}